@CHARSET "UTF-8";

th{
	padding-left: 20px;
	padding-right: 20px;
	font-family: serif;
	font-size: 20px;
	
}

td{
	border-bottom: 3px solid black;
	font-family: serif;
	font-size: 16px
}

table{
	border-collapse: collapse;
}

#_Order{
	width: 700px;
	margin: auto;
}

#_table{
	width: 700px;
	margin: auto;
	text-align: center;
	text-decoration: none;
		
}